<!doctype html>

<html>
<head>
	<meta charset="UTF-8">
	<title> GroupHub Login </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 		<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet"> -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">


</head>

<body oncontextmenu="return false">
	<div class="container">
	<div class="body"></div>
		<br>
		<form name="login">
		<div class="login">
				<input type="text" placeholder="username" name="userid"><br>
				<input type="password" placeholder="password" name="pswrd"><br>
				<input type="button" onclick="window.location.href = '/';" value="Login"/>
			</div>
		</form>
	</div>
</body>
</html>